extends ./commons/layaout.pug


block conteiner
    section(class="row")
        div(class="col-4")
            div(class="card")
                div(class="card-body ml-3")
                    h4(class="card-title textCenter") Paquete Cancún
                    img(src="/public/img/Paquetes/PaquetesCancun.jpg" alt="Paquete Cancún" class="img-thumbnail card-img-top")
                div(class="card-footer")
                    div(class="row")
                        div(class="offset-md-3 col-3")
                            button(class="btn btn-primary") Acerca de
        div(class="col-4")
            div(class="card")
                div(class="card-body ml-3")
                    h4(class="card-title textCenter") Paquete Acapulco
                    img(src="/public/img/Paquetes/PaqueteAcapulco.jpg" alt="Paquete Acapulco" class="img-thumbnail card-img-top")
                div(class="card-footer")
                    div(class="row")
                        div(class="offset-md-3 col-3")
                            button(class="btn btn-primary") Acerca de
        div(class="col-4")
            div(class="card")
                div(class="card-body ml-3")
                    h4(class="card-title textCenter") Paquete Vallarta
                    img(src="/public/img/Paquetes/PaqueteVallarta.jpg" alt="Paquete Vallarta" class="img-thumbnail card-img-top")
                div(class="card-footer")
                    div(class="row")
                        div(class="offset-md-3 col-3")
                            button(class="btn btn-primary") Acerca de