extends ./users/commons/layaout.pug


block conteiner
    article(class="col-12")
        div(class="row mb-5")
            div(class="col-12")
                div(class="card")
                    div(class="card-body textCenter")
                        h2 ¡Conoce los destinos más populares!
        div(class="row mb-5")
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Cancún
                        img(src="/public/img/Usuarios/Cancun_s.jpg", alt="Cancún" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Conocer
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Acapulco
                        img(src="/public/img/Usuarios/Acapulco_s.jpg", alt="Acapulco" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Conocer
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Mazatlán
                        img(src="/public/img/Usuarios/Mazatlan_s.jpg", alt="Mazatlán" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Conocer
        div(class="row mb-5")
            div(class="col-12")
                div(class="card")
                    div(class="card-body textCenter")
                        h2 ¡Aprovecha exclusivas ofertas en hoteles!
        div(class="row mb-5")
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") RIU
                        img(src="/public/img/Usuarios/RIU.jpg", alt="RIU" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Royal
                        img(src="/public/img/Usuarios/Royal.jpg", alt="Royal" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Best Western
                        img(src="/public/img/Usuarios/Mazatlan_s.jpg", alt="Best Western" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más
        div(class="row mb-5")
            div(class="col-12")
                div(class="card")
                    div(class="card-body textCenter")
                        h2 ¡Encuentra vuelos baratos con las mejores aerolíneas!
        div(class="row mb-5")
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Volaris
                        img(src="/public/img/Usuarios/Volaris-Lareolinea.jpg", alt="Volaris" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Interjet
                        img(src="/public/img/Usuarios/Interjet-Lareolinea.jpg", alt="Interjet" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más
            div(class="col-4")
                div(class="card")
                    div(class="card-body ml-3")
                        h4(class="card-title textCenter") Aeroméxico
                        img(src="/public/img/Usuarios/Aeromexico-Lareolinea.jpg", alt="Aeroméxico" class="img-thumbnail")
                    div(class="card-footer")
                        div(class="row")
                            div(class="offset-md-3 col-3")
                                button(class="btn btn-primary") Ver más

            

            