extends ./layaoutRoot.pug


block conteiner

    article(class = 'row')
        div(class = 'col-6 offset-3')
            div(class = 'card')
                div(class='card-header text-center')
                    h1 Nuevo Empleado
                div(class ='card-body')               
                    form(action="/root/empleados/Agregar/Nuevo", method="post" enctype="multipart/form-data")
                        div(class = 'form-group')
                            input(value = bandera style="visibility:hidden" name = 'bandera')
                            input(value = idAdmin style="visibility:hidden" name = 'idAdmin')
                            input(type="text" placeholder='Nombre' name='nombre' class='form-control' required value= nombre)
                            input(type="text" placeholder='Apellido Paterno' name='aPaterno' class='form-control' required value= aPaterno)
                            input(type="text" placeholder='APellido Materno' name='aMaterno' class='form-control' required value= aMaterno)
                            input(type="email" placeholder='Correo de Usuario' name='username' class='form-control' required value= username)
                            label(for="tipo") Tipo de Empleado
                            select(name="tipo" class='form-control' required id='tipo')
                                option(value="1") Empleado
                                option(value="2") Administrador (Root)
                            input(type="submit", value="Agregar" class='btn btn-primary')
                            input(type="reset", value="Cancelar" class='btn btn-secundary')
    script(type='text/javascript').
        document.getElementById('tipo').value = '#{tipo}';