extends ./layaoutRoot.pug


block conteiner

    article(class = 'row')
        div(class = 'col-12 mt-5')
            h1 Administracion de Hoteles
            table(class="table table-borderless")
                thead
                    th idHotel
                    th Cadena
                    th Nombre
                    th Domicilio
                    th Estrellas
                    th imagen
                tbody
